<html>
	<header>

		<!-- chargement angularJS -->
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js">
	   </script>

	   <!-- chargement socketIO -->
	   <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

       <!-- chargement threeJS -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.js">
        </script>

        <!-- chargement OrbitControls (librairie threeJS) -->
        <script src="OrbitControls.js"></script>

    </header>

	<body ng-app='myApp'>
	    <section ng-controller='myCtrl' ng-init="init()">
		
	    	<canvas tjs style="position:absolute;top:15%;height:70%;width:80%;left:10%;
                border:2px solid #AAAAAA;" spheres="spheres">
            </canvas>

            <div style="position:absolute;bottom:0;height:10%;width:100%;left:0;
                border:2px solid #AAAAAA;">
                <button ng-click="addSphere()">Add Sphere</button>
                <button ng-click="removeSphere()">Remove Sphere</button>
                <button ng-click="switchCalc()">
                    {{calcOn ? 'Stopper le calculateur' : 'Démarrer le calculateur'}}
                </button>
            </div>

	    </section>
	</body>

	<!-- chargement application angular -->
	<script type="text/javascript" src='app.js'></script>

    <!-- chargement code directive -->
    <script type="text/javascript" src='tjsDirective.js'></script>
</html>

