<html>
	<header>

		<!-- chargement angularJS -->
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js">
	   </script>

	   <!-- chargement socketIO -->
	   <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    </header>

	<body ng-app='myApp'>
	    <section ng-controller='myCtrl'>
		
	    	<h1 ng-bind='myTitle'></h1>

			<input type='text' ng-model='myVar'></input>

        	<button ng-click='sayHello()'>Hello</button>

        	<br>
        	<br>
        	<!-- bouton lancement calcul -->
        	<button ng-click='launchCalc()'>
        		Lancement calculateur
        	</button>

	    </section>
	</body>

	<!-- chargement application angular -->
	<script type="text/javascript" src='app.js'></script>
</html>

